body#index {
	background-image:url(images/amyitis_background.jpeg);
	background-size:100vh;
	background-position:center top;
	background-repeat:no-repeat;
}
a.nav-link:link
		{
		   color: black;
		   text-decoration: none;
		}
		a.nav-link:visited
		{
		   color: black;
		   text-decoration: none;
		}
		a.nav-link:hover
		{
		   cursor:default;
		   color: black;
		   text-decoration: none;
		}
		a.nav-link:active
		{
		   color: black;
		   text-decoration: none;
		}
.wrapper {
	position:absolute;
	left:40vw;
	background-color:grey;
	margin-top:34vh;
	padding:10px;
}
.login {
	background-color:lightgrey;
	border-radius:10px;
	padding:10px
}
.login-content {
	margin-top:1vh;
}
.acc {
	margin:3px;
	
}
