/* CSS Einstellungen für alle Seiten */
html {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
}
body {
	width: 100%;
	background-color: lightgrey;
}
button {
	border-radius: 5px;
	background-color: #000;
	color: #fff;
}
h1 {
	text-align: center;
}
hr {
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	border-style: inset;
	border-width; 2px;
}


/* CSS mainmenu.html */

body#mainmenu {
	min-height: 100%;
	position: relative;
	top: 0px;
}

/* Highscore Tabelle */
#highscore {
	height: 100%;
	display: inline-block;
	float: right;
	margin-right: 0;
	padding: 1em;
	background-color: #30A6E6;
}



/* CSS babylon.html */

img#babylon {
	height:100vh;
	position:absolute;
	opacity: 0.5;
	z-index: -99999;
}



/* CSS index.html */

/* Bilder */
#index_background {
	max-width: 25%;
	margin: 0px auto;
	display: block;
}



/* Navigationsleiste */
.nav {
	width: 99%;
	float: left;
	margin-right: 1em;
	padding; 0;
	border-style: solid;
	border-width; 0.3em;
	border-color: black;
	background-color: #30A6E6;
}
.nav_side {
	padding; 0;
	border-style: solid;
	border-width; 0.3em;
	border-color: black;
	background-color: #30A6E6;
	
}
/* Nav-Leiste */
.nav_header {
	background: #30A6E6;
}

/* Unterpunkte */
.nav_header ul, .nav_header li {
	margin: 0;
	padding: 0;
}
.nav_header ul {
	background: gray;
	list-style: none;
	width: 100%;
}
.nav_header li {
	float: left;
	position: relative;
	width:auto;
}

/* Verlinkungen */
.nav_header a {
	background: #30A6E6;
	color: #FFFFFF;
	display: block;
	font: bold 12px/20px sans-serif;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
}
.nav_header li:hover a {
	background: #000000;
}
li.user {
	float: right;
}
/* Seitennavigation */
#sidenav_left {
	height: 90vh;
	width: 15vw;
	padding: 1em;
	background-color: #30A6E6;
	float: left;
	border-top: none;
}
#sidenav_right {
	height: 90vh;
	width: 15vw;
	padding: 1em;
	background-color: #30A6E6;
	float:left;
	margin-left: 0;
	border-top: none;
}
#sidenav_center {
	height: 90vh;
	width: 62.55vw;
	padding: 1em;
	float: left;
	margin: 0 0 0 0;
	border-top: none;
	border-left: none;
	border-right: none;
	background-color: grey;
}

/* */
.login {
	background-color:lightgrey;
	border-radius:10px;
	padding:10px
}

/* Formularinhalt */
.login-content {
	margin-top:1vh;
}

/* Felder für neuen Account erstellen */)
.acc {
	margin:3px;
	
}



/* Tabellen */

table {
	border-collapse:collapse;
	margin-top:10px;
	background-color: #fff;
	width: 100%;
}
table, th, td {
	--border: 1px solid black;
}
td, th {
	padding:5px;
	text-align:left;
	border-bottom: 1px solid #000;
}
tr:nth-child(even) {
	background-color: #fff;
}
th {
	background-color: #4CAF50;
	color: white;
}
.field th{
	background-color: #fff;
}
.field_img {
	width: 2vw;
}
.temple table, th, td{
	border: 1px solid black;
}
.temple th {
	width: 2vw;
	height: 3vh;
}
#marduk th{
	background-color: #fff;
}
#ishtar th{
	background-color: #fff;
}
#tammouz th{
	background-color: #fff;
}
.bab_gamefield {
	border-collapse: separate;
	border-spacing: 5px;
	background-color: blue;
	margin: auto;
}
.bab_gamefield td{
	background-color: #fff;
	height: 10vw;
	width: 10vw;
}
td.begin {
	background-color: green;
}
td.space {
	background-color: red;
}


/* Modalfenster */

.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover {
	background: #00d9ff; 
}

	