<!DOCTYPE html>
<html>
<head>
		<meta charset=UTF-8>
		<title>Amyitis - Turn</title>
		<link rel=stylesheet type="text/css" href="../Stylesheets/stylesheet.css">
		<link rel=stylesheet type="text/css" href="../Stylesheets/game.css">
</head>
<body>
<!-- Start Navigation Spielzug -->
	<nav class="nav">
		<ul class="container mainnav">
			<li>
				<a href=#openRekrut>Rekrutieren</a>
			</li>
			<li>
				<a href=#openHandel>Karawane bewegen</a>
			</li>
			<li>
				<input class=navBut type=submit formaction=gameHandler.php formmethod=post name=pass value=1>Passen</button>
			</li>
		</ul>
	</nav>
</body>
</html>