.container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
}
.container.mainnav {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: flex-start;
	align-items: stretch;
}
.container.main {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	width: 100%;
}
.item {
	flex-basis: auto;
}
.item.w30 {
	flex-grow: 3;
	order: 1;
}
.item.w70 {
	flex-grow: 7;
	order: 2;
}
@media all and (max-width: 573px) {
	.container.body {
		flex-direction: column;
	}
	.container.main {
		flex-direction: column;
	}
	.item.header {
		order: 1;
		align-self: stretch;
	}
	.item.main {
		order: 2;
		align-self: stretch;
	}
	.item.w30 {
		order: 2;
		align-self: stretch;
	}
	.item.w70 {
		order: 1;
		align-self: stretch;
	}
}
@media all and (max-width: 444px) {
	.container.mainnav {
		flex-direction: column;
	}
}

/* Navigationsleiste */
.nav {
	width: 100%;
	float: left;
	background-color: #30A6E6;
	margin-bottom: 5px;
}
.nav_side {
	padding: 0;
	background-color: #30A6E6;
	
}
main .nav {
	
}

/* Unterpunkte */
.nav ul, .nav li {
	margin: 0;
	padding: 0;
}
.nav ul {
	list-style: none;
	width: 100%;
}
.nav li {
	float: left;
	position: relative;
	width:auto;
}

/* Verlinkungen */
.nav a {
	background: #30A6E6;
	color: #FFFFFF;
	display: block;
	font: bold 12px/20px sans-serif;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
}
.nav input {
	margin: 0 auto;
	position: relative;
	width: auto;
	background: #30A6E6;
	color: #FFFFFF;
	display: block;
	font: bold 12px/20px sans-serif;
	padding: 10px 25px;
	border: none;
	border-radius: 0px;
}
.nav li:hover a {
	background: #000000;
}
.nav input:hover {
	background: #000000;
	cursor: pointer;
}
/* Seitennavigation */
.last {
	text-align: right;
	padding-right: 10px;
}
.middle {
	text-align: center;
}

/* */
.login {
	background-color:lightgrey;
	border-radius:10px;
	padding:10px
}

/* Formularinhalt */
.login-content {
	margin-top:1vh;
}

/* Felder für neuen Account erstellen */
.acc {
	margin:3px;
	
}

/* Iframe */

.fluid {
	position: relative; 
	padding-bottom: 100%;
	height: 0; 
	overflow: hidden; 
	width: 100%;
	height: auto;
}
.fluid IFRAME {
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
}

#ButVerk {
	margin-top: 5px;
}